<TABLE width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
<TR>
	<TD>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="3">
	<TR BGCOLOR="#336699">
		<TD><FONT SIZE="-1" COLOR="#ffffff"><B>$heading</B></FONT></TD>
	</TR>
	<TR BGCOLOR="#FFFFFF">
		<TD><FONT SIZE="-1">$content</FONT></TD>
	</TR></TABLE>
	</TD>
</TR></TABLE>
<BR>
