<table width="100%" border=0 cellspacing=0 cellpadding=0>
<tr> 
	<td colspan=3><img src="$imagedir/speck.gif" width=1 height=5 alt=""></td>
</tr>
<tr> 
	<td>
	<table width="175" border=0 cellspacing=0 cellpadding=0>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	<tr bgcolor="#FFFFFF"> 
		<td height=20>&nbsp;</td>
	</tr>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr></table>
	</td>
	<td><img src="$imagedir/slant.gif" width=29 height=22 alt=""></td>
	<td width="100%"> 
	<table width="100%" border=0 cellspacing=0 cellpadding=0>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	<tr align=right bgcolor="#FFFFFF">
		<td height=20>&nbsp;</td>
	</tr>
	<tr bgcolor="#000000">
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	</table>
	</td>
</tr></table>

<TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>
<TR>
	<TD><IMG height=4 src="$imagedir/speck.gif" width=1 alt=""></TD>
</TR>
<TR bgColor="#EEEEEE">
	<TD><IMG height=1 src="$imagedir/speck.gif" width=1 alt=""></TD>
</TR>
<TR>
	<TD><IMG height=1 src="$imagedir/speck.gif" width=1 alt=""></TD>
</TR>
<TR VALIGN=MIDDLE BGCOLOR="#eeeeee">
	<TD>
	<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH="100%" ALIGN=CENTER BORDER=0>
	<TR>
	<TD width="30%">
	<B>&nbsp;&nbsp;<A HREF="/" STYLE="text-decoration:none"><FONT SIZE="-1" >$sitename</FONT></A></B></TD>
	<TD WIDTH="30%" ALIGN=CENTER>
	<A HREF="#top" STYLE="text-decoration:none"><FONT SIZE="1"><B>$navigation </B></FONT></A></TD>
	<TD ALIGN=RIGHT WIDTH="40%"><B>$siteslogan</B></TD>
	</TR></TABLE>
	</TD>
</TR>
<tr align=right>
	<td bgcolor="#336699"><img src="$imagedir/speck.gif" width=1 height=4 alt=""></td>
<TR>
	<TD><IMG height=1 src="$imagedir/speck.gif" width=1 alt=""></TD>
</TR>
<TR bgColor="#666666">
	<TD><IMG height=1 src="$imagedir/speck.gif" width=1 alt=""></TD>
</TR>
<TR>
	<TD><IMG height=4 src="$imagedir/speck.gif" width=1 alt=""></TD></TR></TABLE>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="99%" ALIGN="CENTER">
<TR>
	<TD ALIGN=LEFT>
	<FONT SIZE="-1">
<!-- 	Powered by <a href=http://www.php.net>php</a>, 
<a href=http://www.mysql.com>mysql</a>,
<A HREF="http://phpweblog.org">phpWebLog</A>,
<a href=http://www.apache.org>apache</a>
and <a href=http://www.debian.org>Debian</a>
<a href=http://www.kernel.org>Linux</a> 
on <a href=http://www.sparc.com>Sparc</a> -->
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
	</FONT>
	</TD>
	<TD ALIGN=RIGHT>
	<FONT SIZE="-1">
	Copyright &copy; $copyrightstart-$currentyear $sitename
	</FONT>
	</TD>
</tr>
</TR></TABLE>
</BODY>
</HTML>
