<TABLE CELLSPACING="0" CELLPADDING="4" WIDTH="100%" ALIGN="CENTER" BORDER="0">
<TR>
	<TD ALIGN=LEFT>$logo</TD>
	<TD ALIGN=RIGHT>$searchbox</TD>
</TR></TABLE>

<table width="100%" border=0 cellspacing=0 cellpadding=0 align=center>
<tr align=right>
	<td bgcolor="#999999"><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
</tr>
<tr align=right>
	<td bgcolor="#000000"><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
</tr>
<tr align=right>
	<td bgcolor="#336699"><img src="$imagedir/speck.gif" width=1 height=4 alt=""></td>
</tr>
<tr align=center valign=middle bgcolor="#EEEEEE">
	<td height=20><font size=-1><B>$navigation</B></font></td>
</tr>
<tr>
	<td bgcolor="#999999"><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
</tr></table>

<table width="100%" border=0 cellspacing=0 cellpadding=0>
<tr> 
	<td colspan=3><img src="$imagedir/speck.gif" width=1 height=5 alt=""></td>
</tr>
<tr> 
	<td>
	<table width=175 border=0 cellspacing=0 cellpadding=0>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	<tr bgcolor="#FFFFFF">
		<td height=20><font size=-1>&nbsp;&nbsp;<b>$G_URL</b></font></td>
	</tr>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr></table>
	</td>
	<td><img src="$imagedir/slant.gif" width=29 height=22 alt=""></td>
	<td width="100%"> 
	<table width="100%" border=0 cellspacing=0 cellpadding=0>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	<tr align=right bgcolor="#FFFFFF">
		<td height=20><font size=-1>$date&nbsp;</font></td>
	</tr>
	<tr bgcolor="#000000"> 
		<td><img src="$imagedir/speck.gif" width=1 height=1 alt=""></td>
	</tr>
	</table>
	</td>
</tr></table>
