<table cellpadding="0" cellspacing="0" border="0" width="99%" align="CENTER">
<tr>
<td>$logo</td>
<td valign="MIDDLE" align="RIGHT">
$searchbox
</td>
</tr>
<tr>
<td colspan = 2>
    <table cellpadding="4" cellspacing="0" border="0" width="100%" align="CENTER">
        <tr>
        <td>
            <div align="center">$navigation </div>
        </td>
        </tr></table>
</td>
</tr>
</table>
