<!-- begin header.tmpl -->
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tr>
<td>$logo</td>
<td align="right" valign="bottom">$searchbox</td>
</tr>
</table>



<table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="99%" align=center>
<tr>
<td>
<table border="0" cellpadding="1" cellspacing="0" bgcolor="black" width="100%">
<tr>
<td>
<table border="0" cellpadding="3" cellspacing="0" bgcolor="white" width="100%">
<tr>
<td bgcolor="#eeeeee" valign="top" align=center colspan="3">$navigation</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top" align=right bgcolor="black" width="3"><img src="$imagedir/square.gif"
height="5" width="3"></td>
</tr>

<tr>
<td align="left" bgcolor="black" colspan="2" height="3"><img src= 
"$imagedir/square.gif" height="5" width="3"></td>
</tr>
</table>
<!-- end header.tmpl -->

