<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF" width="100%"><font size="-1" color="#000000">
<b>$heading</b> $views</font></td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td>$icon<font size="-2">By $author $address on $date [ $topic ]</font><br>
<font size="-1">$content</font><br><br><font size="-1">$link</font></td>
</tr>
</table>
<hr size=1 noshade>
