<table border="0" cellspacing="0" cellpadding="0" width="100%"
align="center" bgcolor="#ffffff">
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="3" width="100%"
bgcolor="#284c82">
<tr>
<td>$logo</td>
<td align="right" valign="bottom"><font color="white">$searchbox</font></td>
</tr>

<tr bgcolor="#5e7eb2">
<td colspan="2" bgcolor="#5e7eb2">$navigation</td>
</tr>
</table>
</td>
</tr>
</table>

