<table cellpadding="0" cellspacing="0" border="0" width="99%" align="CENTER">
<tr>
<td>$logo</td>
<td valign="MIDDLE" align="RIGHT">
$searchbox
</td>
</tr>

<tr>
<td	colspan	= 2>
<table cellpadding="1" cellspacing="0" border="0" width="100%" align="CENTER" bgcolor="#660000"><tr><td>
<table cellpadding="3" cellspacing="0" border="0" width="100%" align="CENTER" bgcolor=white>
<tr><td	align=center>$navigation</td></tr>
</table>
</td></tr></table>

</td>
</tr>
<tr>
</table>

