<table cellpadding=5 cellspacing=0 width="100%" bgcolor="#ffffff">
<tr>
	<td><h3>$heading</h3>
	<p>
	<font size=1 color=#003366>Posted under $topic by $author $address on $date</font><br>
	<p>
	<font size=2>$content</font>
	<br>
	<font size=2>$link</font>
	</td>
</tr>
</table>
	
