<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="100%">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
<td bgcolor="#000000"><img border="0" src="$imagedir/speck.gif"
width="1" height="1" alt=""></td>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="1" bgcolor="#3f4f5a"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
<td>
<table cellspacing="0" cellpadding="1" width="100%" border="0">
<tr>
<td bgcolor="#3f4f5a">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="220" valign="middle" align="left">$logo<img src= 
"$imagedir/speck.gif" height="72" width="1"></td>
<td valign="bottom" align="right">$searchbox</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td width="1" bgcolor="#3f4f5a"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
<td bgcolor="#000000"><img border="0" src="$imagedir/speck.gif"
width="1" height="1" alt=""></td>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
</tr>
</table>
</td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="100%">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="1" bgcolor="#4f5f5a"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
<td bgcolor="#4f5f5a"><img border="0" src="$imagedir/speck.gif"
width="1" height="1" alt=""></td>
<td width="1" bgcolor="#4f5f5a"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td>
<table cellspacing="0" cellpadding="1" width="100%" border="0">
<tr>
<td bgcolor="#2f3f4a">&nbsp;&nbsp;&nbsp;$navigation</td>
</tr>
</table>
</td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
<td bgcolor="#000000"><img border="0" src="$imagedir/speck.gif"
width="1" height="1" alt=""></td>
<td width="1" bgcolor="#000000"><img border="0" src= 
"$imagedir/speck.gif" width="1" height="1" alt=""></td>
</tr>
</table>
</td>
</tr>
</table>

