<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<TR> 
	<TD>
	<img src="$imagedir/fmII-button.gif" height="25" width="25" alt="" align="left" border="0"><FONT color="#999999" size=+1><B>$heading</B></FONT>
	</TD>
</TR>
<TR>
	<TD>$content</TD>
</TR>
</TABLE>
<BR>
