<table border="0" cellspacing="0" cellpadding="0" width="100%"
align="center" bgcolor="#ffffff">
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="2" width="100%"
bgcolor="#ffffff">
<tr>
<td>$logo</td>
<td align="right" valign="bottom">$searchbox</td>
</tr>
<!-- 006896 -->
<tr bgcolor="#ebe6d9">
<td align=center colspan="2" bgcolor="#ebe6d9">$navigation</td>
</tr>
<tr bgcolor="#006896">
<td colspan="2" bgcolor="#006896"><img src="$imagedir/speck.gif" height=1 width=1></td></tr>
</table>
</td>
</tr>
</table>

