<table width="100%" cellpadding="0" cellspacing="0" border="0"
background="$imagedir/mtop.gif" height="25">
<tr>
<td width="7"><img src="$imagedir/topleft.gif" width=
"7" height="25" alt="" border="0"><br>
</td>
<td width="100%"><font color="#000000" size="1"><b>$topic</b></font><br>
<img src="$imagedir/speck.gif" width="10" height="4"><br>
</td>
<td align="right"><img src="$imagedir/topright.gif"
width="5" height="25" alt="" border="0"><br>
</td>
</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="1%" background="$imagedir/left.gif"><img
src="$imagedir/speck.gif" width="10" height="1"><br>
</td>
<td valign="top" bgcolor="FFFFFF"><img src="$imagedir/speck.gif" width="1"
height="5"><br>
<font size=2>$heading<br>Posted by $author on $date<p>$icon $content</font>
<br>
<br>
<div align=right><font size=2>$link</font></div>

</td><td width=1% background="$imagedir/right.gif">

<img src="$imagedir/speck.gif" width=10 height=1><br>
</td></tr></table>
<table width=100% cellpadding=0 cellspacing=0 border=0 background="$imagedir/bottom.gif" height=6>
<tr>
<td width=7><img 
src="$imagedir/bleft.gif" width=7 height=6 alt="" border=0><br>
</td><td>
<img src="$imagedir/speck.gif" width=1 height=1><br>
</td><td align=right>
<img src="$imagedir/bright.gif" width=5 height=6 alt="" border=0><br>
</td></tr></table>
<br>