<TABLE WIDTH="100%" CELLSPACING=2 CELLPADDING=5 BORDER=0 ALIGN=CENTER>
<TR>
	<TD>$logo</TD>
	<TD ALIGN=RIGHT>$searchbox</TD>
<TR>
<TD COLSPAN=2 BACKGROUND="$imagedir/barra.gif" ALIGN=LEFT BGCOLOR="#CC0000">
<FONT SIZE="-1" COLOR="WHITE"><B>$navigation</B></FONT>
</TD>
</TR></TABLE>
<BR>
