<table border="0" cellspacing="0" cellpadding="1" bgcolor="#000000" width="100%" align=center><tr><td>
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tr>
<td colspan="2" bgcolor="#eeeeee" align="center"><font size=2><b>$heading</b></font></td>
</tr>
</table>
</td></tr></table>
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tr>
<td colspan="2" bgcolor="#ffffff"><font size=2>$content</font></td>
</tr>
</table>

