Redirect Permanent	/keep.htm	http://www.lpef.org/pages.php?page=About+KEEP
Redirect Permanent	/keep.html	http://www.lpef.org/pages.php?page=About+KEEP
Redirect Permanent	/Keep.htm	http://www.lpef.org/pages.php?page=About+KEEP
Redirect Permanent	/Keep.html	http://www.lpef.org/pages.php?page=About+KEEP
