<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td bgcolor="#000000" width="100%">
<table border="0" cellspacing="1" cellpadding="2" width="100%" bgcolor="#506880">
<tr bgcolor="#506880">
<td valign="bottom" width="100%" height="17">
<font size="3" color="#ffffff"><b>$heading</b></font><br>
<font size="2">Posted by $author on $date</td>
</tr>

<tr bgcolor="#95A6C1">
<td width="100%">
<table border="0" cellspacing="0" cellpadding="6" width="100%">
<tr>
<td>
<div align="justify">$icon $content</div>
<font size=1>$link</font>

</td>
</tr>

</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
