<!-- begin header.tmpl -->
<table
        border  = "0"
        cellspacing     = "0"
        cellpadding     = "3"
        width   = "100%">
<tr>
<td>$logo</td>
<td
        align   = right
        valign  = bottom>$searchbox</td>
</tr>

<tr     bgcolor = "#6699CC">
<td     colspan = 2
        bgcolor = "#6699CC"><b>$navigation</b></td>
</tr>
</table>
<!-- end header.tmpl -->
