<!-- begin summary.tmpl -->
<table border="0" cellpadding="0" cellspacing="0" align="center"
bgcolor="#000000" width="100%">
<tr>
<td>
<table width="100%" border="0" cellspacing="2" cellpadding="2">
<tr>
<td bgcolor="#6699CC" width="100%"><big><b>$heading</b></big><br>
<small>Posted under $topic by $author $address on
$date</small></td>
</tr>

<tr>
<td colspan="1" bgcolor="#FFFFFF">
<table border="0" width="100%" cellspacing="0" cellpadding="6">
<tr>
<td colspan=2>$icon $content</td>
</tr>

<tr>
<td><small>$link</small></td>
<td align="right"><small>$comments</small><br>
 <small>$modified</small></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p>
