<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="3">
<TR BGCOLOR="#EEEEEE">
	<TD HEIGHT="20" ALIGN=LEFT>
	<FONT COLOR="#3366CC">
	<U><B>$heading</B></U>
	</FONT>
	</TD>
<TR BGCOLOR="#EEEEEE">
	<TD VALIGN="MIDDLE" ALIGN="LEFT">
	<FONT SIZE="-1" COLOR="#000000">
	$content
	</FONT></TD>
</TR></TABLE>
<BR>
