<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
<TR>
	<TD BGCOLOR="#FFFFFF" WIDTH="100%"><FONT COLOR="#000000">
	<img src="$imagedir/fmII-button.gif" height="25" width="25" alt="" align="left" border="0"><B>$heading</B> $views</FONT>
</TD></TR></TABLE>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
<TR>
	<FONT SIZE="-1">Posted by $author ($date) $views [ $topic ]</FONT>
	<P>
	$content
	<FONT SIZE="-1">$link</FONT>
	</TD>
</TR></TABLE>
<hr noshade size=1>