<table cellspacing=0 cellpadding=1 border=0 width=100% bgcolor=black>
<tr>
<td>
<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor=white>
<tr>
<td>
	<img src="$imagedir/comment.gif"><small>$author writes on $date: $reply</small>
	<blockquote>
	$content
	</blockquote>
</td>
</tr>
</table>
</td>
</tr>
</table>
