<!-- begin footer.tmpl -->
<p>
<center>
<font   size    = 2>
Copyright &copy; 2003-$currentyear $sitename<br>
<br>
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
</font>
</center>

<!-- end footer.tmpl -->
