<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr valign="TOP">
<td bgcolor="#660000"><img src="$imagedir/cl.gif"
width="7" height="10" alt=""><img src= 
"$imagedir/pix.gif" width="4" height="4" alt=
""></td>
<td bgcolor="#660000" width="100%">
<table width="100%" border="0" cellpadding="2" cellspacing="0">
<tr>
<td bgcolor="#660000"><font face="verdana,helvetica,arial" size="3"
color="#FFFFFF"><b>$heading</b></font></td>
</tr>
</table>
</td>
<td bgcolor="#660000">
<img src= "$imagedir/pix.gif" width="4" height="4" alt=""><img 
src="$imagedir/cr.gif" width="7" height="10" alt=""></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td background="$imagedir/gl.gif"><img src= 
"$imagedir/pix.gif" width="11" height="11" alt=
""></td>
<td bgcolor="#E6E6E6" width="100%">
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
<td bgcolor="#E6E6E6"><font face="verdana,helvetica,arial" size=
"1">posted by $author on $date</font></td>
</tr>
</table>
</td>
<td background="$imagedir/gr.gif"><img src= 
"$imagedir/pix.gif" width="11" height="11" alt=
""></td>
</tr>

<tr>
<td bgcolor="#006666" colspan="3"><img src= 
"$imagedir/pix.gif" width="1" height="1"></td>
</tr>

<tr>
<td background="$imagedir/wl.gif"><img src= 
"$imagedir/pix.gif" width="11" height="11" alt=
""></td>
<td bgcolor="#FFFFFF" width="100%">
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
<td bgcolor="#FFFFFF">$icon $content</td>
</tr>
</table>
</td>
<td background="$imagedir/wr.gif"><img src= 
"$imagedir/pix.gif" width="11" height="11" alt=
""></td>
</tr>

<tr bgcolor="#660000">
<td colspan="3"><img src="$imagedir/pix.gif"
width="1" height="1"></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td background="$imagedir/wl_cccccc.gif"><img
src="$imagedir/pix.gif" width="11" height="11"
alt=""></td>
<td bgcolor="#FFFFFF" width="100%">
<table width="100%" border="0" cellpadding="5" cellspacing="0">
<tr>
<td bgcolor="#CCCCCC">
<font face="verdana,helvetica,arial" size="2"><b>(</b> $comments
<b>)</b></font>
</td>
<td bgcolor="#CCCCCC" align=right>
<font face="verdana,helvetica,arial" size="2">$link</font>&nbsp;
</td>
</tr>
</table>
</td>
<td background="$imagedir/wr_cccccc.gif"><img
src="$imagedir/pix.gif" width="11" height="11"
alt=""></td>
</tr>

<tr>
<td bgcolor="#660000" colspan="3"><img src= 
"$imagedir/pix.gif" width="1" height="1"></td>
</tr>
</table>

<br>
