<table cellspacing=0 cellpadding=0 border=0 width=100%>
<tr>
<td>
	<img src="$imagedir/comment.gif"><small>$author writes on $date: $reply</small>
	<blockquote>
	$content
	</blockquote>
</td>
</tr>
</table>
