<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="98%" ALIGN="CENTER">
<TR>
	<TD>
	<FONT SIZE="-1"><B>$sitename - $siteslogan</B></FONT>
	</TD>
<TR>
	<TD ALIGN=LEFT>
		<FONT SIZE="-1">
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
		</FONT>
	</TD>
	<TD ALIGN=RIGHT COLSPAN=2>
		<FONT SIZE="-1">
		Copyright &copy; 2003-$currentyear $sitename
		</FONT>
</TR></TABLE>
</BODY>
</HTML>
