<TABLE width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
<TR bgcolor="#666666">
	<TD>
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td bgcolor="#B5BECE"><font size="-1">$heading</font></td>
	</tr>
	</table>
	</TD>
</TR></TABLE>

<table cellspacing="0" cellpadding="0" width="100%" border="0">
<tr bgcolor="#eeeeee">
	<td width="1" height="4"></td>
</tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="1">
<tr bgcolor="#666666">
	<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td bgcolor="#ffffff">
		<font size="-1">
		$content
		</font>
		</td>
	</tr></table>
	</td>
</tr></table>
<br>
