<table cellspacing="0" cellpadding="0" width="100%" border="0">
<tr bgcolor="#eeeeee">
	<td width="1" height="5"></td>
</tr></table>

<table width="98%" border="0" cellspacing="0" cellpadding="1" align=center>
<tr bgcolor="#666666">
   <td>
   <table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr bgcolor="#ffffff">
		<td width="33%">
		<font size="-1"><A HREF="/" STYLE="text-decoration:none">Home</A></font>
		</td>
		<td WIDTH="34%" ALIGN=CENTER>
		<font size="1">
		<A HREF="#top" STYLE="text-decoration:none">^ BACK TO TOP ^</A>
		</font>
		</td>
		<td align=right width="33%">
		<font size="-1"><a href="$G_URL">$sitename</a> - $siteslogan</font>
		</td>
   </tr></table>
   </td>
</tr></table>
<center>
<font size="-1">
Copyright &copy; $copyrightstart-$currentyear $sitename<br>
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
</font>
</center>

</BODY>
</HTML>
