<table width="100%" border="0" cellspacing="0" cellpadding="1">
<tr bgcolor="#666666">
   <td>
   <table width="100%" border="0" cellspacing="0" cellpadding="3">
	<tr bgcolor="#eeeeee">
		<td colspan="2">
		$heading
		</td>
	<tr bgcolor="#eeeeee">
		<td colspan="2">
		<font size="-1">
		Posted by $author ($date) $views
		</font>
		<P>
		$icon $content
      </td>
	<tr bgcolor="#eeeeee">
		<td><font size="-1">$link &nbsp;</font></td>
		<td align=right><font size="-1">[Topic: $topic]</font>
   </tr></table>
   </td>
</tr></table>
<br>
