<!-- begin header.tmpl -->
<table
        border  = "0"
        cellspacing     = "0"
        cellpadding     = "3"
        width   = "100%">
<tr>
<td align=center>$logo</td>
<td align  = center>$searchbox</td>
</tr>

<tr>
<td     colspan = 2
	align=center>$navigation</td>
</tr>
</table>
<!-- end header.tmpl -->
