<!-- begin footer.tmpl -->

<table cellpadding="1" cellspacing="0" border="0" width="100%" align="CENTER" bgcolor="#660000"><tr><td>
<table cellpadding="3" cellspacing="0" border="0" width="100%" align="CENTER" bgcolor=white >
<tr><td	align=center>$navigation</td></tr>
<tr><td align=center>Copyright &copy; 2004-$currentyear $sitename<br>
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>
</td></tr>
</table>
</td></tr>
</table>

</font>
</center>
<!-- end footer.tmpl -->
