<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER">
<TR>
	<TD ALIGN=CENTER>
	<FONT SIZE="-1">
	Copyright &copy; 2003-$currentyear $sitename
	</FONT>
	</TD>
<TR>
<TD ALIGN=CENTER>
<FONT SIZE="-1">
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
</FONT>
</TD>
</TR></TABLE>
</BODY>
</HTML>
