<TABLE CELLSPACING="0" CELLPADDING="4" WIDTH="100%" ALIGN="CENTER" BORDER="0">
<TR>
	<TD ALIGN=LEFT>$logo</TD>
</TR></TABLE>

<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH="100%" ALIGN=CENTER BORDER=0>
<TR BGCOLOR="#666666">
	<TD><IMG HEIGHT=1 SRC="images.d/speck.gif" WIDTH=1 ALT=""></TD>
</TR>
<TR VALIGN=TOP ALIGN=CENTER BGCOLOR="#666666">
	<TD>
		<TABLE CELLSPACING="0" CELLPADDING="3" WIDTH="100%" BORDER="0">
		<TR VALIGN="MIDDLE" BGCOLOR="#DDDDDD">
			<TD ALIGN=CENTER>
			<B>$navigation</B>
			</TD>
		</TR></TABLE>
	</TD>
<TR bgColor="#666666">
	<TD><IMG height=1 src="images.d/speck.gif" width=1 alt=""></TD>
</TR>
<TR>
	<TD>
		<TABLE CELLSPACING="0" CELLPADDING="3" WIDTH="100%" BORDER="0">
		<TR BGCOLOR="#BBDDFF">
			<TD VALIGN="MIDDLE">
			<FONT SIZE="-1"><B>$searchbox</B></FONT>
			</TD>
			<TD ALIGN=RIGHT>
			<FONT SIZE="-1">$date</FONT>
			</TD>
		</TR></TABLE>
	</TD>
</TR>
<TR bgColor="#666666">
	<TD><IMG height=1 src="images.d/speck.gif" width=1 alt=""></TD>
</TR></TABLE>
