<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
<TR>
	<TD BGCOLOR="#FFFFFF" WIDTH="100%">
	<img src="$imagedir/fmII-button.gif" height="25" width="25" alt="" align="left" border="0"><B>$heading</B>
	</TD>
</TR></TABLE>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
<TR>
	<TD COLSPAN=2>
	<FONT SIZE="-1">Posted by $author ($date) $views</FONT><p>
	$content
	</TD>
</TR>
<TR>
	<TD>
	<FONT SIZE="-1">$link</FONT>
	</TD>
	<TD ALIGN=RIGHT>
	<FONT SIZE="-1">[ $topic ] $comments</FONT>
</TD></TR></TABLE>
<HR SIZE=1 COLOR="#DDDDDD" WIDTH="98%">
