<br>
<table width="100%" cellpadding=0 cellspacing=0 border=0>
<tr>
<td
        colspan = "2"
        bgcolor = "#BBBBBB"><img
        src     = "$imagedir/spacer.gif"
        width   = "1"
        height  = "1"
        alt     = ""></td>
</tr>
<tr>
<td
        colspan = "2"
        align   = "center"
        valign  = "middle"
        bgcolor = "#DDDDDD"><img
    src = "$imagedir/spacer.gif"
        border  = 0
        align   = left
    width   = "1"
    height  = "50"
    alt = ""><br>
<small>&copy; 2003-$currentyear $sitename - $siteslogan
<br>
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
</small>
<br>
</td>
</tr>
<tr>
<td
        colspan = "2"
        background = "$imagedir/shadow.gif"><img
        src = "$imagedir/spacer.gif"
        width   = "1"
        height  = "3"
        alt     = ""></td>
</tr>
</table>
<br>
