<table
        width   = "100%"
        border  = "0"
        cellspacing     = "0"
        cellpadding     = "0"
		bgcolor	= "#f0f0f0">
<tr>
<td>$logo</td>
<td>$searchbox</td>
</tr>
<tr>
<td colspan=2
	background = "$imagedir/shadow.gif"><img
    src = "$imagedir/spacer.gif"
    width   = "1"
    height  = "3"
    alt     = ""></td>
</tr>
<tr>
<td	colspan=2
	bgcolor = "#dddddd">
<table cellspacing=0 cellpadding=0 border=0 width="100%">

<tr>
<td width=20 nowrap></td>

<td width="100%">$navigation</td>

<td width=20 nowrap></td>
</table>
</td>
</tr>
<tr>
<td
        colspan = "2"
        bgcolor = "#BBBBBB"><img
        src     = "$imagedir/spacer.gif"
        width   = "1"
        height  = "1"
        alt     = ""></td>
</tr>

</table>
</td></tr></table>