<table width="100%" cellpadding="1" cellspacing="0" border="0" bgcolor=black>
<tr>
<td>

<table width="100%" cellpadding="5" cellspacing="0" border="0" bgcolor=#8b95a8>
<tr>
<td>

$heading - $topic<br>
<small>Posted by $author $address on $date</small><p>
<table width="100%" cellpadding="5" cellspacing="0" border="0" bgcolor=#8b95a8>
<tr>
<td>
$content
</td>
</tr>
<tr>
<td><small>$link</small></td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>
<p>