<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align=right><img src="$imagedir/left.gif"></td>
<td background="$imagedir/bg.gif" valign="middle"
height="19" width="100%" style="background-image:url($imagedir/bg.gif);">
<center><font face="verdana" color="white" size="-1">
<b>$heading</b></font></center>
</td>
<td><img src="$imagedir/right.gif"></td>
</tr>
</table>
<table cellpadding=5 cellspacing=0 width="100%">
<tr>
<td>$content</td>
</tr>
</table>
