<!-- begin summary.tmpl -->
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
<td>
<table width="100%" border="0" cellspacing="2" cellpadding="2">
<tr>
<td width="100%"><big><b>$heading</b></big><br>
<small>Posted under $topic by $author $address on
$date</small></td>
</tr>

<tr>
<td colspan="1">
<table border="0" width="100%" cellspacing="0" cellpadding="6">
<tr>
<td colspan=2>$icon <font size=2>$content</font></td>
</tr>

<tr>
<td><small>$link</small></td>
<td align="right"><small>$comments</small><br>
 <small>$modified</small></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

<p><!-- end summary.tmpl -->

