<table cellpadding=5 cellspacing=0 width="100%" bgcolor="#ffffff">
<tr>
	<td><font size=2><b>$heading</b> ($topic) $views</font>
	<p>
	<font size=2 color=#003366>Posted by $author $address on $date</font><br>
	<font size=2>$content</font>
	<br>
	<small>$link</small>
	<div align=right>
		<font size=2>$comments<br>$modified</font>
	</div>
	</td>
</tr>
</table>
	
