<!-- begin clean/footer.tmpl -->
<p>
<center>
<font   size    = 1>
Copyright &copy; 2004-$currentyear 
<a href=mailto:$siteemail>$siteowner</a>, $sitename<br> 
</font>

<font size="-2">
<!-- Built with <a href=http://www.php.net>php</a>, 
<a href=http://www.mysql.com>mysql</a>,
<A HREF="http://phpweblog.org">phpWebLog</A>,
<a href=http://www.apache.org>apache</a>
and <a href=http://www.debian.org>Debian</a>
<a href=http://www.kernel.org>Linux</a> 
on <a href=http://www.sparc.com>Sparc</a>
because it is simply better.-->
Website by <a href="http://nothingtodeclare.com">NothingToDeclare Webdesign</a>.
<!-- <script type="text/javascript" src="http://technorati.com/embed/ewukvq3vri.js"> </script> -->
</font>
</center>
<!-- end clean/footer.tmpl -->
