<TABLE WIDTH="100%" CELLSPACING=1 CELLPADDING=3 BORDER=0 ALIGN=CENTER>
<TR>
	<TD COLSPAN=2 BACKGROUND="$imagedir/barra.gif" ALIGN=LEFT BGCOLOR="#CC0000">
	<FONT COLOR="WHITE"><B>$heading</B></FONT>
	</TD>
<TR>
	<TD COLSPAN=2>
	<SMALL>
	Posted by $author on $date
	</SMALL>
	</TD>
<TR>
	<TD COLSPAN=2>
	$icon
	<FONT SIZE="-1">
	$content
	</FONT>
	</TD>
<TR>
	<TD><SMALL>$link</SMALL></TD>
	<TD ALIGN=RIGHT><SMALL>($topic | $comments)<BR>$modified</SMALL>
	</TD>
</TR></TABLE>
