<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <TR> 
    <TD><FONT color="#999999" size=+1><B>$heading</B></FONT></TD>
  </TR>
  <TR bgcolor="#666666"> 
    <TD><IMG src="$imagedir/speck.gif" height="1" width="1" alt=""></TD>
  </TR>
  <TR> 
    <TD><IMG src="$imagedir/speck.gif" height="1" width="1" alt=""></TD>
  </TR>
  <TR bgcolor="#666666"> 
    <TD><IMG src="$imagedir/speck.gif" height="1" width="1" alt=""></TD>
  </TR>
</TABLE>
<BR>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td><FONT size="-1">$content</font></td>
</tr>
</table>
<br>