
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="TOP"> 
    <td bgcolor="#DDDDDD"><img src="$imagedir/chg.gif" width="51" height= 
"26" alt=""></td>
    <td background="$imagedir/bgh.gif" height="14" width="100%" nowrap valign="middle"><font size="1"><b><font color="#FFFFFF">&nbsp;$heading</font></b></font></td>
    <td align="RIGHT"><img src="$imagedir/chd.gif"
width="28" height="26" alt=""></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td background="$imagedir/bg.gif" width=3><img src= 
"$imagedir/bg.gif" width="6" height="2" alt=""> </td>
    <td width="100%"> 
      <table width="100%" border="0" cellpadding="5" cellspacing="0">
        <tr bgcolor="#bbbbbb"> 
          <td><font face="verdana,helvetica,arial" size=
"1">$content</font></td>
        </tr>
      </table>
    </td>
    <td background="$imagedir/bd.gif" align="right"><img src="$imagedir/bd.gif" width="7" height="2"
alt=""></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="TOP"> 
    <td bgcolor="#DDDDDD"><img src="$imagedir/cbg.gif" width="14" height= 
"6" alt=""></td>
    <td background="$imagedir/bgb.gif" bgcolor="#660000" width="100%">
	<img src="$imagedir/speck.gif" width=1 height=1></td>
    <td align="RIGHT"><img src="$imagedir/cbd.gif"
width="9" height="6" alt=""></td>
  </tr>
</table>
<br>