
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="TOP"> 
    <td bgcolor="#DDDDDD"><img src="$imagedir/chg.gif" width="51" height= 
"26" alt=""></td>
    <td background="$imagedir/bgh.gif" height="14" width="100%" nowrap valign="middle"><font size="1"><font size="3" color="#FFFFFF" face="verdana,helvetica,arial"><b>$topic</b></font></font></td>
    <td align="RIGHT"><img src="$imagedir/chd.gif"
width="28" height="26" alt=""></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td background="$imagedir/bg.gif" width=3><img src= 
"$imagedir/bg.gif" width="6" height="2" alt=""> </td>
    <td width="100%"> 
      <table width="100%" border="0" cellpadding="5" cellspacing="0">
        <tr bgcolor="#bbbbbbb"> 
          <td colspan="2"><font face="verdana,helvetica,arial" size=
"1"><b><font size="2" color="#FFFFFF">$heading</font></b><br>
            <br>
            $content</font></td>
        </tr>
        <tr bgcolor="#bbbbbbb"> 
          <td colspan="2"> 
            <div align="right"><font face="verdana,helvetica,arial" size=
"1"> By $author on $date</font></div>
          </td>
        </tr>
      </table>
    </td>
    <td background="$imagedir/bd.gif" align="right"><img src="$imagedir/bd.gif" width="7" height="2"
alt=""></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="#DDDDDD" valign="top"><img src="$imagedir/bbg2.gif" width="19" height= 
"39" alt=""></td>
    <td background="$imagedir/bgb2.gif"width="100%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr> 
          <td><font face="verdana,helvetica,arial" size=
"1">$link</font></td>
          <td> 
            <div align="right"></div>
          </td>
        </tr>
      </table>
    </td>
    <td align="RIGHT" valign="top"><img src="$imagedir/bbd2.gif"
width="8" height="39" alt=""></td>
  </tr>
</table>
<br>
