<TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">
<TR BGCOLOR="#DDDDDD">
	<TD WIDTH="145">
		<SMALL><STRONG><FONT COLOR="#000000">$heading</FONT></STRONG></SMALL>
	</TD>
<TR BGCOLOR="#EEEEEE">
	<TD>
	<SMALL>$content</SMALL>
	</TD>
</TR></TABLE>
<BR>
