<TABLE CELLSPACING=0 CELLPADDING=1 BORDER=0 WIDTH=100%>
<TR>
	<TD BGCOLOR="#DDDDDD">
	$face<FONT SIZE="-1">By $author ($date)</FONT>
<TR>
	<TD BGCOLOR="#EEEEEE">
	<BLOCKQUOTE>
	<FONT SIZE="-1">$content</FONT>
	</BLOCKQUOTE>
	</TD>
</TR>
<TR>
	<TD ALIGN=RIGHT BGCOLOR="#EEEEEE">
	<FONT SIZE="-1">$reply</FONT>
	</TD>
</TR>
</TABLE>
