<table width="100%" border=0 cellspacing=0 cellpadding=0>

<tr>
<td bgcolor = "#BBBBBB"><img src = "$imagedir/spacer.gif" width= "1" height= "1" alt= ""></td>
</tr>

<tr>
<td bgcolor="#DDDDDD">$heading</td>
</tr>

<tr>
<td background="$imagedir/shadow.gif"><img src = "$imagedir/spacer.gif" width= "1" height= "3" alt= ""></td>
</tr>

<tr>
<td>
<small>$content</small>
</td>
</tr>
</table>
<br>