<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr valign="top" align="center">
<td>
<table border="0" cellpadding="1" cellspacing="0" bgcolor="#000000"
width="100%">
<tr>
<td width="100%">
<table width="100%" border="0" cellpadding="0" cellspacing="0"
bgcolor="#708090">
<tr>
<td valign="top" align="center" width="100%">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td bgcolor="#dddddd" valign="middle" align="left"><b><font size="3"
color="white">$topic</font></b></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>

<tr valign="top" align="center">
<td>
<table border="0" cellpadding="3" cellspacing="0"
width="100%">
<tr>
<td width="100%"></td>
</tr>

<tr>
<td>
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr>
<td align="left"><font size="4"><strong>
$heading</strong></font></td>
<td align="right"><font size="2"><i>Posted By:
$author</i></font><br>
<small>$address</small></td>
</tr>

<tr>
<td align="left"><font size="1"><i>$date</i></font></td>
</tr>
</table>

 <font size="2">$content<br>
<br>
<small>$link</small>
</font></td>
</tr>

<tr>
<td align="right"><font size="2">$comments<br>
<small>$modified</small></font></td>
</tr>
</table>
</td>
</tr>
</table>

<br>

