<table cellspacing="0" cellpadding="0" width="100%" border="0">
<tr bgcolor="#cccccc">
<td colspan="2"><img src="$imagedir/speck.gif"
width="1" height="1" alt=""></td>
</tr>
</table>

<table cellspacing="0" cellpadding="1" width="100%" border="0">
<tr valign="middle" bgcolor="#666666">
<td align="center"><font face="verdana,geneva,arial,sans-serif"
size="-1" color="#cccccc"><a style="text-decoration:none">
<font color="#cccccc">$navigation</font></a></font></td>
</tr>
</table>

<table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
  <tr> 
    <td background="$imagedir/speck.gif" bgcolor="#ffffff"><img src="$imagedir/speck.gif" width="1" height="1"></td>
  </tr>
  <tr> 
    <td background="$imagedir/speck.gif" bgcolor="#cccccc"><img src="$imagedir/speck.gif" width="1" height="2"></td>
  </tr>
</table>


<table cellspacing="0" cellpadding="4" width="100%" align="center"
border="0">
<tr>
<td align=center>$logo</td>
<!-- <td align=right>$searchbox</td> -->
</tr>
</table>

