<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td bgcolor="#FFFFFF" width="100%"><font size="-1" color="#000000">
<b>$heading</b></font></td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="5">
<tr>
<td colspan=2><font size="-2">Posted by $author on $date [ $topic ]</font><br>
<font size="-1">$icon $content</font></td>
</tr>
<tr>
<td><font size="-2">$link</font></td>
<td align=right><font size="-1">$comments<br>$modified</font></td>
</tr>
</table>

<hr size=1 color="#DDDDDD" width="98%">