<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#000000">
<tr>
<td>

<table width="100%" cellpadding="3" cellspacing="1" border="0"><tr>
<td bgcolor="#cccccc">
$heading

</td>
</tr>

<tr>
<td bgcolor="#8b95a8">
<small>$content</small>
</td>
</tr>
</table>

</td>
</tr>
</table>
<br>