<table border="0" cellpadding="0" cellspacing="0" vspace="0"
hspace="0" width="100%">
<tr>
<td width="100%" bgcolor="#313131" colspan="1">

<table width="90%" cellspacing=0 cellpadding=0 border=0 align=center>
<tr>
<td>$logo</td>
<td align=right>$searchbox</td>
</tr>
</table>

</td>
</tr>

<tr>
<td width="100%" background="$imagedir/graybg.gif" height="25" align=center
colspan="1"><font face="verdana,arial" size="2" color="white">$navigation</font></td>
</tr>

<tr>
<td background="$imagedir/brownbg.gif" valign="top" height="39"
colspan="1">&nbsp;</td>
</tr>
</table>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr>
<td width="100%" bgcolor="#313131" valign="top" align="center">
