<!-- begin header.tmpl -->
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tr>
<td>$logo</td>
<td align="right" valign="bottom">$searchbox</td>
</tr>

<tr>
<td colspan="2" align="center"><font size=2><b>[ $navigation]</b></font></td>
</tr>
</table>

<!-- end header.tmpl -->

