<table border="0" cellspacing="0" cellpadding="0" width="95%"
align="center" bgcolor="#ffffff">
<tr>
<td>
<table border="0" cellspacing="0" cellpadding="3" width="100%"
bgcolor="#ffffff">
<tr>
<td>$logo</td>
<!-- <td><img border=0 src="/images.d/keep2c-wolpefand2006turq-260x260.gif"></td> -->
<td><img border=0 src="/images.d/2007-keep-graphic.jpg"></td> 
<td align="right" valign="bottom">
 <table border="1"><tr><td>
   <table border="0" cellspacing="0" cellpadding="3" width="100%">
   <tr><td align="center" colspan=2><font size="+1">$keepyear&nbsp;Keep&nbsp;Campaign</font></td></tr>
   <tr><td align="right"><font size="+1">Donations:</font></td>
       <td align="left" ><font size="+1">$totdollars</font></td></tr>
<!-- <tr><td align="right"><font size="+1">Donors:</font></td>
       <td align="left" ><font size="+1">$totdonors</font></td></tr> -->
   </table>
 </td></tr></table>
<p>
<b>$searchbox</b></td>
</tr>

<tr bgcolor="#006699">
<td colspan="2" bgcolor="#006699">$navigation</td>
</tr>
</table>
</td>
</tr>
</table>

