<table width="100%" border=0 cellspacing=0 cellpadding=1 bgcolor="#999999">
<tr>
	<td>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
	<TR bgcolor="#eeeeee">
		<td colspan=2><B>$heading</B></TD>
	<tr bgcolor="#ffffff">
		<TD COLSPAN=2>
		<FONT SIZE="-1">Posted by $author ($date) $views</font>
		</td>
	<tr bgcolor="#ffffff">
		<td colspan=2>
		<font size="-1">$icon $content</FONT>
		</TD>
	<TR bgcolor="#ffffff">
		<TD><FONT SIZE="-1">$link &nbsp;</FONT></TD>
		<TD ALIGN=RIGHT><FONT SIZE="-1">[Topic: $topic] $comments</FONT>
	</TD></TR></TABLE>
</td></tr></table>
<BR>
